<bashgo-banner bannerImage="{{bannerImage}}" bannerCaption=""></bashgo-banner>
<div class="page-content">
  <section class="block-content">
    <div class="content-wrapper">
      <h2 class="header-title"><span>Manpower Outsourcing</span></h2>
      <p>BASHGO provides comprehensive outsourcing services delivered by qualified HR practitioners. We have extensive
        experience of working with all sizes, scales and types of organisations. Through our expertise and experience in
        maintenance management, asset & material management services and training, we contribute by strategically and
        operationally improving organisational performance and the quality of customer service; resulting in better HR.
      </p>
      <p>We identify that every organisation’s requirements are different and that priorities and conditions change
        rapidly. BASHGO have therefore made our services flexible to provide adaptable, long-term and short-term
        solutions.</p>
      <p>Our outsourcing services allow client companies to bring together a team of motivated, productive personal who
        are willing and keen to make a positive contribution. It is measured by performance and has become a partner in
        the venture.</p>
      <p>Our client company maintains their input in the recruitment of maintenance personal. BASHGO personnel function
        under the direction of client's management team but operate as service provider dependent on total deliverable
        and efficient / effective services. The development of common goals and the alignment of business objectives to
        couple to realistic base lining allow contract performance to be accurately measured.</p>
      <p>We provide comprehensive tailor-made recruitment services including:</p>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey">
            <ul class="list-item">
              <li><span class="icon-list"></span>Contract recruitment</li>
              <li><span class="icon-list"></span>Permanent recruitment</li>
              <li><span class="icon-list"></span>Interim consultancy services</li>
              <li><span class="icon-list"></span>Training and development services</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey">
            <ul class="list-item">
              <li><span class="icon-list"></span>Recruitment process improvement</li>
              <li><span class="icon-list"></span>Search and selection</li>
              <li><span class="icon-list"></span>Executive search</li>
              <li><span class="icon-list"></span>Graduate recruitment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>