<bashgo-banner bannerImage="{{bannerImage}}" bannerCaption=""></bashgo-banner>
<div class="page-content">
  <section class="block-content">
    <div class="content-wrapper">
      <h2 class="header-title"><span>Operation &amp; Maintenance Management</span></h2>
      <p>We provide a Quality Comprehensive "one stop shop" services. All our services compliment the each other
        and all
        departments work closely together to give the full package and excellent value.</p>
      <p>At BASHGO one of our most outstanding services, and for what we feel proud, is to deal with the
        maintenance,
        repair of machinery and equipment; a sector we have been gladly serving with commitment for more than
        16+ years.
      </p>
      <p>Our maintenance service is about diagnosing, planning, executing, commissioning and preventing against
        breakdowns, strongly recommended if client priority is to cater their business operations needs with
        rapid
        response at any stage.</p>
      <p>More than 16 years of experience, and a long-time gained trust from our clients speak for our services
        leading
        the sector, and our service engineers who are there to provide you a reliable support with expertise,
        and
        knowledge.</p>
      <p>Both theoretical and practical approaches given by our service technicians and engineers for providing
        our
        state of the art on breakdown services aim to answer promptly and accurately any technical issues that
        you may
        be having. Our services are logistically oriented to identify and repair, avoiding unnecessary excessive
        costs,
        machines and industrial systems from different sectors.</p>
      <p>We also offer a fully comprehensive range of Fabrication Services. Customers can be assured that our
        staff will
        provide a friendly, efficient and professional service from start to finish, no matter how big or small
        the
        project.</p>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <h3 class="header-title">Area of Services</h3>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>Operation & Maintenance</li>
              <li><span class="icon-list"></span>Annual Maintenance Contracts</li>
              <li><span class="icon-list"></span>Utility Maintenance </li>
              <li><span class="icon-list"></span>Erection & Commissioning</li>
              <li><span class="icon-list"></span>Breakdown Services</li>
              <li><span class="icon-list"></span>Condition Based Maintenance Services</li>
              <li><span class="icon-list"></span>Routine and Preventive Maintenance Services.</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>Major Overhauling of Rotating & Static Equipment Services.
              </li>
              <li><span class="icon-list"></span>Pipes Fabrication & Erection jobs.</li>
              <li><span class="icon-list"></span>Workshop Maintenance Services</li>
              <li><span class="icon-list"></span>Mechanical Seal Reconditioning</li>
              <li><span class="icon-list"></span>Solar PV Projects</li>
              <li><span class="icon-list"></span>Overhauling of EOT Cranes & Rail alignment</li>
              <li><span class="icon-list"></span>Valve Maintenance and Reconditioning</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <h3 class="header-title">Mechanical</h3>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="box box-green with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-rotate-equipment"></span>
            </div>
            <h3>Rotating Equipment</h3>
            <p>Pumps, Compressors, Turbines, Blowers, Boosters, Gear Boxes, ID / FD fans, Agitators, etc.,
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="box with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-equipment"></span>
            </div>
            <h3>Static Equipment</h3>
            <p>Valves, Heat Exchanger, Column, Vessels, Boilers, etc.,</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="box box-green with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-fabrication"></span>
            </div>
            <h3>Fabrication</h3>
            <p>Piping, Piping Support, Structural, Tanks, etc.,</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="box with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-erection"></span>
            </div>
            <h3>Erection & Commissioning</h3>
            <p>Cranes, Piping, Structural, Workshop Machineries</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="box box-green with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-machining"></span>
            </div>
            <h3>Machining</h3>
            <p>Turning, Milling, Drilling, Grinding, Balancing, Lapping, Profile cutting, Gear hobbling,
              Boring, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <h3 class="header-title">Electrical</h3>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>AC and DC electrical motors</li>
              <li><span class="icon-list"></span>Low, medium and high voltage machines</li>
              <li><span class="icon-list"></span>Transformers and Generators</li>
              <li><span class="icon-list"></span>Refrigeration and HVAC system</li>
              <li><span class="icon-list"></span>Electrical Control Panels</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>New equipment wiring</li>
              <li><span class="icon-list"></span>Battery power systems</li>
              <li><span class="icon-list"></span>Switches</li>
              <li><span class="icon-list"></span>Power Monitoring</li>
              <li><span class="icon-list"></span>PLC and SCADA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <h3 class="header-title">Instrumentation</h3>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-calibration"></span>
            </div>
            <h3>Calibration</h3>
            <p>Pressure Levels, Micrometer& Callipers Dimensional, Single& Multi loop systems, Transmitters,
              Controllers, indicators, pressure devices.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box with-header-icon">
            <div class="box-header-icon">
              <span class="icon icon-services"></span>
            </div>
            <h3>Services</h3>
            <p>Calibration, Troubleshooting, Loop checks, Repair services, Onsite staffing, Installation of
              instruments
              & controls.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>