@import '../../../../theme/variable';

.maintenance-services {
    .box { min-height: 200px; }
    h3 { min-height: 40px; font-size: 16px; line-height: 20px; }
    p { font-weight: 300; height: 65px; overflow: hidden; }
  }