<bashgo-banner bannerImage="{{bannerImage}}" bannerCaption=""></bashgo-banner>
<div class="page-content">
  <section class="block-content">
    <div class="content-wrapper">
      <h2 class="header-title"><span>Gallery</span></h2>
      <ul class="gallery">
        <li *ngFor="let image of gallery; let i = index;">
          <figure>
            <a (click)="openLightBox(i)"><img src="{{image.src}}" alt="" width="100%" height="100%" /></a>
          </figure>
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="custom-lightbox-root" [class.lightbox-active]="isLighBoxOpen">
  <div class="custom-lightbox-overlay"></div>
  <div class="custom-lightbox-container">
    <div class="close-lightbox"><a class="icon-close" (click)="isLighBoxOpen = !isLighBoxOpen">&times;</a></div>
    <div class="pagination">{{(currentIndex + 1) + '/' + gallery.length }}</div>
    <figure @fade>
      <img src="{{gallery[currentIndex].src}}" alt="{{gallery[currentIndex].caption}}" width="100%" height="100%" />
      <figcaption *ngIf="gallery[currentIndex].caption.length > 0">
        <p>{{gallery[currentIndex].caption}}</p>
      </figcaption>
    </figure>
    <div class="navigation">
      <button class="navi prev-navi" (click)="prevSlide()" [disabled]="currentIndex === 0">previous</button>
      <button class="navi next-navi" (click)="nextSlide()"
        [disabled]="currentIndex === gallery.length - 1">next</button>
    </div>
  </div>

</div>