<bashgo-banner bannerImage="{{bannerImage}}" bannerCaption=""></bashgo-banner>
<div class="page-content digital-training-content">
  <section class="block-content">
    <div class="content-wrapper">
      <h2 class="header-title"><span>Digital Training</span></h2>
      <p>At BASHGO we specialise in delivering a wide range of training courses to industries across the world. With
        years of experience, BASHGO can help clients to grow both nationally and internationally by good practices.</p>
      <p>BASHGO have a network of instructors that travel anywhere in the world on a weekly basis whom are fully
        qualified with a vast amount of experience and knowledge. We can arrange to suit company training needs where we
        offer training whilst they are undertaking there day to day duties. Our commitment is to maintain all training
        courses to the highest quality.</p>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box">
            <p>Our use of <strong>visual technology</strong> during presentations prompts a new level of understanding
              and
              insight, engaging participants and revitalising the experience of professional training.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box">
            <p>Our <strong>unique combination of experience, knowledge and content delivery</strong>, makes daily
              industrial practice concepts and theory come alive.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <h3 class="header-title"><span>Topics we cover</span></h3>
      <div class="box box-grey no-flex">
        <ul class="list-item list-item-flex flex-col-2">
          <li><span class="icon-list"></span>Heat Exchangers</li>
          <li><span class="icon-list"></span>Steam Turbines</li>
          <li><span class="icon-list"></span>Centrifugal Pump</li>
          <li><span class="icon-list"></span>Distillation</li>
          <li><span class="icon-list"></span>Mechanical Seals and Seal Selection</li>
          <li><span class="icon-list"></span>Positive Displacement Pumps</li>
          <li><span class="icon-list"></span>Condition Monitoring Techniques</li>
          <li><span class="icon-list"></span>Oil Exploration and Production</li>
          <li><span class="icon-list"></span>Shaft Alignment Practices</li>
          <li><span class="icon-list"></span>Industrial Hydraulics</li>
          <li><span class="icon-list"></span>Compressors</li>
          <li><span class="icon-list"></span>Refrigeration System</li>
          <li><span class="icon-list"></span>Valves</li>
          <li><span class="icon-list"></span>Safety on LOTO Procedure</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <p>We have an exclusive arrangement through which all the candidates can have a continuous access to our faculty
        throughout the training period. The interactive arrangement enables all the participants to clarify their doubts
        at any point of time. Faculties are available throughout the training period to respond to the queries
        immediately.</p>
      <p>The participants can get access to various model questions, assignments, self assessment tools through this
        arrangement. On the basis of the day to day assessment and the result of the tests, each candidate will be
        guided to overcome their short -comings.</p>
    </div>
  </section>
</div>