.digital-training-content {
    .box {
        color: #ffffff; display: flex; align-items: center;
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }
    }
}