<bashgo-banner bannerImage="{{bannerImage}}" bannerCaption=""></bashgo-banner>
<div class="page-content">
  <section class="block-content">
    <div class="content-wrapper">
      <h2 class="header-title"><span>Asset &amp; Material Management</span></h2>
      <p>BASHGO provides visibility over your asset maintenance and performance, identify trends from key data and
        offers business insight to improve more clarity on your existing data’s. BASHGO goal is to take our customers to
        a level of productivity and profits that is greater than they have now. Classification of data according to
        various standardized logics available throughout domain such as UNSPSC, MESC and custom labeling. Our dedicated
        team will perform thorough assessment of your existing technology using and help our client to overcome the
        challenges by implementing industry best practices to increase you productivity and reduce your cost.</p>
    </div>
  </section>
  <section class="block-content">
    <div class="content-wrapper">
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3 class="header-title"><span>Services</span></h3>
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>Material Coding & Cataloguing</li>
              <li><span class="icon-list"></span>Data Cleansing & Enrichment</li>
              <li><span class="icon-list"></span>Master Data Management</li>
              <li><span class="icon-list"></span>Asset & Equipment Management</li>
              <li><span class="icon-list"></span>SPIR</li>
              <li><span class="icon-list"></span>Inventory & Stock control</li>
              <li><span class="icon-list"></span>Bill of Material (BOM)</li>
              <li><span class="icon-list"></span>Service Master</li>
              <li><span class="icon-list"></span>Physical & Stock Verification</li>
              <li><span class="icon-list"></span>Standard Maintenance Procedure (SMP)</li>
              <li><span class="icon-list"></span>Standard Operating Procedures (SOP)</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3 class="header-title"><span>Key Features</span></h3>
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>Material Management – Manage and control inventories</li>
              <li><span class="icon-list"></span>Asset Hierarchy Management – easily to track of where your assets are
                located and their costs</li>
              <li><span class="icon-list"></span>Budget Management – It helps relating to your budget</li>
              <li><span class="icon-list"></span>Purchase Management – order the right parts by providing exact
                description of the item</li>
              <li><span class="icon-list"></span>Work Management – track and manage all assets </li>
            </ul>
          </div>
        </div>
      </div>
      <h3 class="header-title"><span>Benefits</span></h3>
      <div class="row-separator">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box box-grey no-flex">
            <ul class="list-item">
              <li><span class="icon-list"></span>Simplify the coding logic of your assets and increase productivity</li>
              <li><span class="icon-list"></span>Reduce cost by avoiding unnecessary inventory</li>
              <li><span class="icon-list"></span>Improving reliability and risk management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>