<footer class="footer-content">
  <div class="content-wrapper">
    <div class="row-separator">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <a class="footer-logo"><img src="/assets/images/bashgo-footer-logo.jpg" alt="Bashgo" /></a>
        <a class="iso-logo"><img src="/assets/images/ISO-9001.png" alt="Bashgo" /></a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4 class="header-title">India</h4>
        <p>BASHGO MAINTENANCE SERVICES PVT. LTD,<br />
          A4, Lakshyavan Apartments,<br />
          13/1, South Mada Street, Srinagar Colony,<br />
          Saidapet, Chennai, India - 600032,<br />
          Phone: +91 44 26631751 / 52.<br />
          Email: <a href="mailto:contact@bashgo.com">contact@bashgo.com</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4 class="header-title">Singapore</h4>
        <p>BASHGO MAINTENANCE SERVICE(S) PTE. LTD,<br />
          10, Anson Road #33-17, International Plaza,<br />
          Singapore - 079903,<br />
          Tel: +65 90309440 / 96824846.<br />
          Email: <a href="mailto:contact@bashgo.com">contact@bashgo.com</a></p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 class="header-title">Quick Links</h4>
        <ul class="quick-links">
          <li><a routerLink="/about-us" routerLinkActive="active">About</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
          <li><a routerLink="/clientele" routerLinkActive="active">Clientele</a></li>
          <li><a routerLink="/career" routerLinkActive="active">Career</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="content-wrapper">
      <p>© Copyright Bashgo.com 2020. All rights reserved.</p>
    </div>
  </div>
</footer>